MAIL_TO_ADDRESS=fanatbmw04@mail.ru
MAIL_FROM_ADDRESS=siec@siec-brn.ru
MAIL_FROM_NAME="Сибирская энергетическая компания"
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_SMTP_AUTH=false
